* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.home {
  width: 100%;
  height: 300vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.979);
}

body {
  background-color: rgba(0, 0, 0, 0.979);
}

.projetos {
  width: 100%;
  max-width: 1200px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-bottom: 30px;
}

.deploy{
  color: cadetblue;
  font-size: 21px;
  margin-bottom: 70px;
  position: relative;
  left: 20px;
}

.linkgitref{
  color: cadetblue;
  font-size: 21px;
  margin-bottom: 22px;
}

.linkgit{
  color: cadetblue;
  font-size: 21px;
  margin-bottom: 22px;
  position: relative;
  right: 30px;
}

.carousel,
.carousel2,
.carousel3 {
  cursor: grab;
  overflow: hidden;
}

.inner {
  display: flex;
}

.item {
  min-width: 400px;
  min-height: 500px;
  height: 420px;
  padding-block: 70px;
  margin-right: 300px;
}

.persImage {
  width: 170%;
  height: 110%;
  border-radius: 12px;
  pointer-events: none;
  margin: 40px;
  gap: 20px;
  position: relative;
  top: -70px;
}

.textoChave {
  text-align: center;
  color: aliceblue;
  font-size: 32px;
  margin-top: 20px;
}

.texto {
  width: 100%;
  height: 110px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  margin-block: 60px;
}

.texto div {
  width: 83%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

.texto div h2 {
  font-size: 27px;
}

.texto div p {
  font-size: 20px;
  margin-top: 5px;
}

@media (max-width: 995px) {
  .texto div {
    width: 96%;
    height: 120px;
  }

  .texto div h2 {
    font-size: 24px;
  }

  .texto div p {
    font-size: 16px;
  }
}


@media (max-width: 850px){
  .textoChave {
    margin-top: -80px;
  }
}

@media (max-width: 800px) {
  .textoChave {
    font-size: 24px;
  }
  .projetos {
    max-width: 800px;
    width: 90%;
    margin-bottom: 0;
    padding-top: 30px;
    height: 300px;
  }

  .persImage {
    width: 120%;
    height: 80%;
    margin: 20px;
    position: relative;
    top: -30px;
  }

  .item {
    margin-right: 90px;
  }

  .texto{
    margin-top: 50px;
  }

  .home{
    height: 240vh;
  }
}

@media (max-width: 665px) {
  .texto div {
    width: 96%;
    height: 140px;
    margin-bottom: 30px;
  }

  .texto div h2 {
    font-size: 24px;
  }

  .texto div p {
    font-size: 14px;
  }

  .textoChave h2 {
    font-size: 50px;
  }
}
